<!DOCTYPE html>
<html>
{% load i18n %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--    <meta name="description" content="{% translate "application.to.find.apartments"|capfirst %}">-->
<!--    <title>{% translate "apartments"|title %}</title>-->

    <!-- Styles -->
<!--    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,700i&display=swap" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
<!--	<link href="/static/corso_template/css/styles.css" rel="stylesheet">-->

	<!-- Favicon  -->
<!--    <link rel="icon" href="/static/corso_template/images/favicon.png">-->
<!--    {% block load_static %}-->
<!--    {% endblock %}-->
</head>
<body data-spy="scroll" data-target=".fixed-top">
    <!-- Navigation -->
<!--    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top1">-->

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Corso</a> -->

        <!-- Image Logo -->
<!--        <a class="navbar-brand logo-image" href="{% url 'homepage' %}"><img src="/static/corso_template/images/logo.svg" alt="alternative"></a>-->

        <!-- Mobile Menu Toggle Button -->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-awesome fas fa-bars"></span>-->
<!--            <span class="navbar-toggler-awesome fas fa-times"></span>-->
<!--        </button>-->
        <!-- end of mobile menu toggle button -->

<!--        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">-->
<!--            <ul class="navbar-nav ml-auto">-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav> &lt;!&ndash; end of navbar &ndash;&gt;-->
    <!-- end of navigation -->

    {% block main %}
    {% endblock %}
    <!-- Footer -->
<!--    <div class="footer">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="footer-col first">-->
<!--                        <h5>О Poiskdoma</h5>-->
<!--                        <p class="p-small">Найди апартамент своей мечты</p>-->
<!--                    </div>-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--                <div class="col-md-3">-->
<!--                    <div class="footer-col second">-->
<!--                        <h5>Ссылки</h5>-->
<!--                        <ul class="list-unstyled li-space-lg p-small">-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--                <div class="col-md-3">-->
<!--                    <div class="footer-col third">-->
<!--                    </div>-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--                <div class="col-md-3">-->
<!--                    <div class="footer-col fourth">-->
<!--                    </div>-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of footer &ndash;&gt;-->
    <!-- end of footer -->


    <!-- Scripts -->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.2/umd/popper.min.js" integrity="sha512-aDciVjp+txtxTJWsp8aRwttA0vR2sJMk/73ZT7ExuEHv7I5E6iyyobpFOlEFkq59mWW8ToYGuVZFnwhwIUisKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha512-ahmSZKApTDNd3gVuqL5TQ3MBTj8tL5p2tYV05Xxzcfu6/ecvt1A0j6tfudSGBVuteSoTRMqMljbfdU0g2eDNUA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script> &lt;!&ndash; Swiper for image and text sliders &ndash;&gt;-->
<!--    <script src="/static/corso_template/js/scripts.js"></script> &lt;!&ndash; Custom scripts &ndash;&gt;-->
<!--    {% block javascript %}{% endblock %}-->
</body>
</html>
