{% extends "base.html" %}

{% block main %}
    <img src="../../quick_example.png">
<!--    <div class="cards">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <h2>Aпартаменты</h2>-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            </div>-->
<!--        </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of cards &ndash;&gt;-->
{% endblock %}
