[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
daphne = "*"
django-environ = "*"
psycopg2-binary = "*"
channels-redis = "*"
matplotlib = "*"
typing-extensions = "*"
gunicorn = "*"
twisted = {extras = ["tls", "http2"], version = "*"}

[dev-packages]
django-debug-toolbar = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
