<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}
</head>
<body>
    <div id="plot">
        {{ pyplot | safe }}
    </div>
    {{ array|json_script:"array-data" }}
    <input class="btn" data-type="" id="generate-array" type="button" value="Generate array">
    <input class="btn" data-type="bubble" id="bubble-sort" type="button" value="Bubble sort">
    <input class="btn" data-type="quicksort" id="quicksort" type="button" value="Quicksort">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            (window.location.host === 'localhost:8000' ? 'ws://' : 'wss://')
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            document.querySelector('#plot').innerHTML = data.pic;
            document.getElementById('array-data').textContent =JSON.stringify(data.array);
            document.querySelectorAll('.btn').forEach((button) => {
              button.removeAttribute("disabled");
            });
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        let buttons = document.querySelectorAll(".btn")
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener('click', function(event) {
                document.querySelectorAll('.btn').forEach((button) => {
                    button.disabled = true;
                });

                let sort_type = event.target.getAttribute('data-type')

                chatSocket.send(JSON.stringify({
                    'sort_type': sort_type,
                    'array': (sort_type === "" ? [] : JSON.parse(document.getElementById('array-data').textContent))
                }));
            });
        }
    </script>
</body>
</html>
